@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


.container{
    background-color: rgb(236, 236, 236);
    width: 300px;
    height: auto;
    margin: 20px auto;

}